.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{display: inline-block;}
.one{background:#26547c;height:4px;}
.two{background:#fd6Ca3;height:4px;}
.three{background:#06ca75;height:4px;}
.four{background:#00d8ff;height:4px;}
.five{background:#05f3b3;height:4px;}
.six{background:#9600ff;height:4px;}
.content h2{
  padding: 35px 0px 0px 0px;
}
.content p{
  padding: 0px;
}